<nav>
    <% if (isAuth) { %>
    <a href="/users/<%= username %>" class="user">
        <img src="<%= userImg %>" alt="">
        <div class="user-name"><%= nickname %></div>
    </a>
    <% }else{ %>
    <div class="identification">
        <a href="/sign-in" class="sign">Sign-in</a>
        <a href="/sign-up" class="sign">Sign-up</a>
    </div>
    <% } %>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/posts">Posts</a></li>
        <li><a href="/add-post">New Post</a></li>
        <li><a href="/contacts">Contacts</a></li>
    </ul>
</nav>