body {
	padding-top: 80px;
	min-height: calc(100vh - 90px);
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	background: linear-gradient(to bottom, #00d2ff, #928dab);
	color: #fff;
}

h1 {
	text-transform: uppercase;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	min-height: 60px;
	display: flex;
	justify-content: space-between;
	background-color: rgba(0, 0, 0, 0.7);
}

nav ul {
	margin: 0;
	display: flex;
}

nav a {
	min-height: 60px;
	display: block;
	padding: 10px 20px;
	line-height: 60px;
}

li {
	list-style: none;
}

ul {
	padding: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

article {
	background-color: rgba(0, 0, 0, 0.4);
	padding: 10px 20px;
	border-radius: 3px;
	margin-bottom: 10px;
	position: relative;
}

article p {
	/* display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical; */
	overflow: hidden;
	max-height: 70px;
}
article.post p {
	max-height: none;
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.post .info {
	justify-content: flex-start;
}
.post .info > span {
	margin-right: 50px;
}

h2 a {
	color: aqua;
	display: block;
	padding-right: 40px;
}

#post-form {
	background-color: rgba(0, 0, 0, 0.4);
	padding: 10px 20px;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
}

.form-text {
	margin-bottom: 20px;
	display: flex;
}

.form-text textarea {
	margin-top: 10px;
}

.form-info {
	margin-bottom: 20px;
	display: flex;
}

.form-info input {
	margin-top: 10px;
}

#post-form div label {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.form-info {
	justify-content: space-between;
	gap: 20px;
}

input,
textarea {
	min-height: 30px;
	border: 1px solid #000;
	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
	font-size: 18px;
	padding: 3px 5px;
	outline: none;
}

textarea {
	resize: none;
	min-height: 150px;
}

.form-button {
	display: flex;
	justify-content: flex-end;
}

.form-button input {
	text-transform: uppercase;
	padding: 5px 10px;
	cursor: pointer;
	line-height: 160%;
	max-height: 50px;
}

.form-button input:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

.home,
.error {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	background: linear-gradient(to bottom, #00d2ff, #928dab);
	color: #fff;
	padding-top: 0;
}

.error h1 {
	margin-top: 0;
}

.contacts li {
	list-style-type: circle;
	padding-left: 20px;
	list-style-position: inside;
}

.error-code {
	text-transform: uppercase;
	font-size: 160px;
	margin-bottom: 20px;
}

.btn-edit,
.btn-delete {
	position: absolute;
	top: 10px;
	text-transform: uppercase;
	padding: 10px 15px;
	cursor: pointer;
	border: 1px solid #000;
	background-color: rgba(0, 0, 0, 0.4);
	color: #fff;
	width: 48px;
	border-radius: 3px;
	font-size: 16px;
	box-sizing: border-box;
}

.btn-edit,
.btn-delete:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

.btn-edit {
	right: 65px;
}

.btn-delete {
	right: 10px;
}

.identification {
	display: flex;
}
.sign:first-child {
	margin-right: 10px;
}

.sign a {
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
}

#registration-form {
	max-width: 500px;
	padding: 15px;
	margin: 0 auto;
	background-color: rgb(16, 38, 90);
}

.registration-content {
	display: flex;
	flex-direction: column;
}

.registration-content label {
	max-width: 500px;

	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.registration-button {
	display: flex;
	justify-content: center;
	width: 100%;
}

.registration-button button {
	background-color: rgb(100, 194, 100);
	width: 100%;
	padding: 10px;
	cursor: pointer;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
	border: none;
}

.registration-button button:hover {
	background-color: rgb(39, 90, 39);
}

#registration-form input {
	width: 350px;
}

.user img {
	width: 60px;
	height: 60px;
	object-fit: cover;
}
.user {
	display: flex;
	align-items: center;
	padding: 0;
	margin-left: 20px;
	line-height: 0;
}

.user-name {
	margin-left: 15px;
}

.user-container {
	max-width: 700px;
	margin: 0 auto;
	padding: 25px;
	background-color: rgb(66, 100, 138);

	box-shadow: 0 0 30px 0px black;
}
.user-content {
}
.user-header {
	display: flex;
	justify-content: space-between;
}
form .user-header {
	justify-content: flex-start;
}
.user-nickname {
	margin: 0;
}
form .user-nickname {
	margin-right: 20px;
}
.user-nickname {
	padding: 5px;

	text-shadow: 0 0 10px black;
	border-radius: 5%;
}

.user-info textarea {
	width: 98%;
	height: 100px;
	white-space: pre-wrap;
}

.user-edit {
	display: flex;
	align-items: center;
	font-size: 14px;
}
.user-edit:hover {
	text-decoration: underline;
}
.user-info {
	margin-top: 15px;
}
.user-aboutme-title {
	font-weight: bold;
	font-size: 30px;
	text-shadow: 0 0 10px black;
	color: rgb(174, 255, 231);
	background-color: rgb(19, 40, 54);
	text-align: center;
	padding: 5px;
}
.user-img img {
	max-width: 100%;
	height: 100%;
	min-height: 100px;
	margin-bottom: 15px;
	box-shadow: 0 0 20px 0 black;
	align-self: center;

	max-height: 300px;
}
.user-img {
	display: flex;
	flex-direction: column;
}
.user-logout {
	font-size: 20px;
	text-align: center;
	color: red;
	width: 100%;
	display: block;
	margin-top: 15px;
}
form .user-logout {
	font-size: 20px;
	background-color: rgb(24, 73, 18);
	padding: 10px;
	text-align: center;
	color: white;
	width: auto;
	display: block;
}
input[type="file"] {
	min-height: auto;
}

.user-img input[type="submit"] {
	background-color: rgb(5, 117, 52);
	color: white;
	padding: 6px;
	cursor: pointer;
}

.user-logout:hover {
	text-decoration: underline;
}
.user-aboutme {
	margin-bottom: 20px;
	font-size: 18px;
	line-height: 140%;
}

input.user-logout {
	width: 100%;
	cursor: pointer;
}

.user-aboutme {
	display: flex;
	flex-wrap: wrap;
	/* gap: 15px; */

	margin-left: -1rem;
	margin-bottom: -1rem;
}

.user-input {
	flex-grow: 1;
	flex-shrink: 0;
	/* flex-basis: calc(50% - 25px); */
	border: 1px solid black;
	text-align: center;
	padding: 5px;
	margin-left: 1rem;
	margin-bottom: 1rem;
	width: calc(1 / 2 * 100% - 2rem);
}
.user-input__value {
	font-size: 25px;
	line-height: 120%;
	color: rgb(255, 255, 255);
	text-shadow: 1px 0 1px rgb(0, 0, 0), 0 1px 1px rgb(15, 14, 14), -1px 0 1px rgb(14, 14, 14), 0 -1px 1px rgb(0, 0, 0);
}
form .user-input__value {
	color: white;
}
.radio {
	display: flex;
	justify-content: space-evenly;
}

.radio label {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	cursor: pointer;
	line-height: 120%;
}
.radio input {
	margin-left: 15px;
	display: block;
	width: 20px;
}
.user-input__header {
	text-shadow: 5px 5px 5px black;
	margin-bottom: 5px;
}
.user-age {
}

.form-footer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}
.form-author {
	display: flex;
	align-items: center;
}
.form-author-img {
	height: 50px;
	width: 50px;
}
.form-author-img img {
	width: 100%;
	object-fit: cover;
	height: 100%;
}
.form-nickname {
	margin-left: 15px;
}
.form-button {
}
